{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <div class="container">

        <a href="{% url 'core:index' %}">Назад</a>
        <h1>{{ object.name }}</h1>
        {% if object.currency == "usd" %}
            <p>{{ object.price_display_dollar }}</p>
        {% elif object.currency == "rub" %}
            <p>{{ object.price_display_rouble }}</p>
        {% endif %}
        <p>{{ object.description }}</p>
        <form action="{% url 'core:order_post' object.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Добавить в корзину</button>
        </form>

        <form id="payment-form">
            <div id="card-element"><!-- Элемент Stripe Elements --></div>
                <button type="button" id="checkout-button">Купить</button>
            <div id="error-message"></div>
        </form>
        {% csrf_token %}
    </div>
<script>
var stripe = Stripe("{{ stripe_public_key }}");
var elements = stripe.elements();
var cardElement = elements.create('card');
cardElement.mount('#card-element');

var checkoutButton = document.getElementById("checkout-button");
var errorMessage = document.getElementById("error-message");

checkoutButton.addEventListener("click", function () {
  fetch("{% url 'core:create-checkout-single' object.id %}")  
    .then(response => response.json())
    .then(data => {
      stripe.confirmCardPayment(data.client_secret, {
        payment_method: {
          card: cardElement,
        }
      }).then(function(result) {
        if (result.error) {
          errorMessage.textContent = result.error.message;
        } else if (result.paymentIntent.status === 'succeeded') {
          window.location.href = "/success/";
        }
      });
    })
    .catch(error => console.error("Error:", error));
});
</script>
{% endblock %}
