{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Заказ</h1>
        <h2>Конечная сумма считается в долларах</h2>
        
        {% if order %}
        <ul>
            {% for item in order.items.all %}
                <li>
                    <a href="{% url 'core:detail' item.id %}">{{ item.name }}</a> 
                    {% if item.currency == "usd" %}
                        <p>{{ item.price_display_dollar }}</p>

                    {% elif item.currency == "rub" %}
                        <p>{{ item.price_display_rouble }}</p>
                    {% endif %}
                    <form action="{% url 'core:delete_item' item.id %}" method="post">
                        <button>Удалить</button>
                        {% csrf_token %}
                    </form>
                </li>
                <hr>
            {% empty %}
                <p>В корзине нет товаров</p>
            {% endfor %}
        </ul>
        
        <p>Сумма: {{ end_sum }} $</p>
        
        <form id="payment-form">
            <div id="card-element"><!-- Элемент Stripe Elements --></div>
                <button type="button" id="checkout-button">Купить</button>
            <div id="error-message"></div>
        </form>
        
            {% csrf_token %}
        {% else %}
            <p>Нет корзины</p>
        {% endif %}
    </div>

<script>
var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
var elements = stripe.elements();
var checkoutButton = document.getElementById("checkout-button");
var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
var cardElement = elements.create('card');
cardElement.mount('#card-element');

checkoutButton.addEventListener("click", function () {
  fetch("{% url 'core:create-checkout-cart' %}", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": csrftoken,
    }
  })
  .then(response => response.json())
  .then(data => {
    console.log("Client secret:", data.client_secret);
    stripe.confirmCardPayment(data.client_secret, {
        payment_method: {
          card: cardElement,
        }
      }).then(function(result) {
      if (result.error) {
        alert("Ошибка оплаты: " + result.error.message);
      } else if (result.paymentIntent.status === 'succeeded') {
        window.location.href = "/success/";
      }
    });
  })
  .catch(error => {
    console.error("Error:", error);
    alert("Произошла ошибка при создании платежа." , error);
  });
});

</script>

{% endblock %}
