{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'includes/messages.html' %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'core:index' %}">Главная</a></li>
                <li><a href="{% url 'core:order_get' %}">Корзина</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>